

*{
    font-family: 'Roboto';
}

.button-container{
    display: flex; 
    justify-content: center;
    gap: 15px; 
}

body{
    margin: 0;
}

.header{
    margin: 0;
    font-size: 36px; 
    font-weight: 800; 
    background-color:beige;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 50px; 
}

#computerSelection{
    font-size: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px; 
}